// colors
$aqua: #7fdbff;
$main-text-color: #bbb;
$main-background-color: #292929;
// $highligher-color: #cd7650;
$highligher-color: #ddd;
$main-text-size: 16px;

$phone-size: 600px;
$tablet-size: 992px;
$desktop-size: 1200px;