// colors
$aqua: #7fdbff;
$main-text-color: black;
$main-background-color: white;
$highligher-color: #cd7650;
$main-text-size: 16px;

$phone-size: 600px;
$tablet-size: 992px;
$desktop-size: 1200px;