@import '../../styles/variables';

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25%, 100px), 1fr));
    grid-gap: 10px;
}

.skill {
    position: relative;
    border: 1px solid $main-background-color;
    background-color: rgba(99, 99, 99, 0.2);
    border-radius: 10%;
    box-sizing: border-box;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        >* {
            height: 100%;
            width: 100%;
            padding: 10%;
        }
    }

    &:hover {
        color: #fff;
        background-color: rgba(#cd7650, 0.4);
    }
}