@import '../../styles/variables';
@import '../../styles/mixins';

.contact-page {
    display: flex;
    align-items: flex-start;
    padding: 6rem 2rem 0;

    >div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 1rem;
        width: 100%;

        @include breakpoint('<phone') {
            grid-template-columns: repeat(auto-fit, 100%);
        }
    }
}

.contact-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: 900;
    height: 20vh;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    min-width: 30%;
    background: rgba(34, 34, 34, .8);
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 12px;

    >* {
        color: $highligher-color;
        line-height: 2rem;
    }
}

.contact-label {
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 1rem;
}

.contact-link {
    line-height: 2rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        transform: translateY(3px);
    }
}