@import '../../styles/variables';
@import '../../styles/mixins';

.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh 10vw 20vh;
}

.contact-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    width: 70vw;
    max-width: 1200px;

    @include breakpoint('<phone') {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    height: 10vh;

    button {
        width: 200px;
        padding: 1rem;
        border: none;
        font-size: 1rem;
        color: #fff;
        border-radius: 0.5rem;
        font-weight: 700;
        transition: 0.5s;
        transition-property: box-shadow;
        background: $highligher-color-link;
        box-shadow: 0 0 15px $highligher-color-link;

        &:hover {
            box-shadow: 0 0 5px $highligher-color-link,
                0 0 25px $highligher-color-link,
                0 0 50px $highligher-color-link;
        }
    }
}

.contact-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(2rem, 10vw, 4rem);
    font-weight: 900;
    height: 25vh;
    animation: floating 1s ease-in-out infinite;

    @include breakpoint('<phone') {
        height: 100px;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}